<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
</head>
<body>

    <form method="post">
        <div class="spending-element">        

            <div class="element-amount">
                <label> AMOUNT </label>
                <input type="text" name="amount">
            
            </div>
            <div class="element-header">
                <label> SPENDING TYPE </label>
                <input type="text" name="type">
            
            </div>
            
            <div class="element-comment">
                <label> COMMENTS </label>
                    <textarea name="comments"></textarea>

            </div>

            <input type="submit" value="SAVE">
        </div>

    </form>
</body>
</html>