<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
</head>
<body>

    
    <%  const totalSpendings = helper.calculateTotalSpendings(locals.list) 
        console.log("total spendings: " + totalSpendings)
            %>
    <%=    helper.checkLimit(totalSpendings,locals.limit) %> 

    <div class="spending-element-margins" >
        <div class="add-new-element">
            <a href="/add"><button class="add-button">ADD NEW SPENDINGS</button></a>
        </div>
    </div>

    

    <% for (var i = 0; i < locals.list.length; i++) { %>
        <div class="spending-element">        

            <div class="element-amount">
                <%= list[i].amount %>
            </div>
            <div class="element-header">
                <%= list[i].type %>
            </div>
            
            <br><br><br>
            <div class="element-comment">
                 <!--
                <%# if (locals.list[i] === "BMW") { %>
                    <img src="../public/s.jpg"  >
                    i am saaab manasdsadsadasdasdas
                    asdas
                    i am saaab manasdsadsadasdasdas
                    asdasi am saaab manasdsadsadasdasdas
                    asdas
                    i am saaab manasdsadsadasdasdas
                    asdas -->
                <%# } %>
                <%= list[i].comments %>
            </div>

        </div>

    <% } %>
</body>
</html>